@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Quicksand:wght@700&display=swap");

/* BEGIN */
:root {
  --bg: #2c3238;
  --bg-accent: #4c5053;
  --text-color: aqua;
  --nav-size: 5rem;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
}

.navbar {
  display: flex;
  height: var(--nav-size);
  background-color: var(--bg);
  padding: 0 1rem;
  border-bottom: var(--border);
}

.navbar-list {
  display: flex;
  max-width: 50%;
  margin-left: auto;
  height: 100%;
}

.navbar-item {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1.2rem;
}

.icon-button {
  --button-size: calc(var(--nav-size) * 0.6);
  width: var(--button-size);
  height: var(--button-size);
  background-color: #474a4d;
  border-radius: 50%;
  padding: 0.3rem;
  margin: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: filter 300ms;
}

.icon-button:hover {
  filter: brightness(1.2);
}

/* .dropdown {
  position: absolute;
  top: 3.9rem;
  width: 20rem;
  translate: (-45%);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
} */

@media screen and (max-width: 1024px) {
  html {
    font-size: 20px;
  }
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }
  body {
    overflow-x: hidden;
  }

  .navbar-toggle {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: block;
    cursor: pointer;
  }

  .navbar-toggle div {
    width: 3rem;
    height: 0.2rem;
    background-color: whitesmoke;
    margin: 5px;
    transition: all 0.3s ease;
  }
  .navbar-list {
    animation: 0.25s ease-in-out navbarToggleIn forwards;
  }

  .navbar-list.active {
    display: flex;
    animation: 0.25s ease-in-out navbarToggleOut forwards;
  }

  @keyframes navbarToggleOut {
    from {
      opacity: 0;
      translate: none;
    }
    to {
      opacity: 1;
      translate: -5rem;
    }
  }

  @keyframes navbarToggleIn {
    from {
      opacity: 1;
      translate: -5rem;
    }
    to {
      opacity: 0;
      translate: 2rem;
      display: none;
    }
  }

  @keyframes navbarItemOneOut {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
      translate: -5rem;
    }
  }
}

.naming {
  display: inline-block;
  color: aqua;
  font-size: 2rem;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 1rem;
  margin: auto 0;
}

/* END */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  font-family: "Quicksand", sans-serif;
  color: aqua;
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-size: 3rem;
  font-weight: 800;
}

.nav-active {
  transform: translateX(-30%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

#chatIcon {
  font-size: 2.5rem;
}

.data-input {
  margin: 0 auto;
}

#logo {
  grid-column: 2/3;
  font-size: 2rem;
  z-index: 3;
}

section {
  display: flex;
  /* height: 100vh; */
  justify-content: center;
  align-items: center;
}

.hero {
  height: 100%;
  width: 100%;
  /* position: relative; */
}

video {
  top: 0;
  position: fixed;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -3;
}

.openerTop {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 101%;
  z-index: 1;
  background-color: rgb(22, 22, 29);
}
.projectContainer {
  position: sticky;
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  flex-direction: column;
}
.card-container {
  width: 90%;
  height: 10rem;
  margin: 1rem auto;
  background: rgb(152, 232, 252, 0.2);
}
.card-container:hover {
  cursor: pointer;
}
.card-image {
  width: 100%;
  height: 100%;
}
.card-image:hover {
  opacity: 1;
}
.card-link {
  text-align: center;
  width: 100%;
  text-decoration: none;
  display: inline-block;
  height: 100%;
}
.card-text-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-text {
  color: aqua;
  font-family: "Press Start 2P", cursive;
  font-size: 2rem;
}
/************** 
     FOOTER     
 *************/

footer {
  font-size: calc(10px + 1vmin);
  text-align: center;
  margin: 0 auto;
}

footer p {
  margin: 0;
}

.contactMe a {
  display: inline-block;
  padding: 3vw 3vw 0 3vw;
}
